{% extends "frame.html" %}
{% import "bootstrap_form.html" as btstrp %}
{% set level1_name='backup' %}
{% set level2_name='backup_center' %}
{% set backup_config = backup_configure['info'] %}
{% block page_wrapper %}

<script>
  function show_this_server_type(server_type) {
  var server_types = new Array("MySQL_cluster", "MySQL", "Mongo_cluster");
  for (var i=0; i< server_types.length; i++) {
		   var server_div = document.getElementById('div_backup_' + server_types[i]);
		   if (server_type == server_types[i]) {
		   server_div.style.display="";
		   }
		   else {
		   server_div.style.display="none";
		   }
		   }
		   }
		   </script>


<!-- this is the main content section to be overwritten -->
<div class="row">
  <div class="col-lg-12">
    {% if data['user_priv'] != 1 %}
    {% set disabled = "disabled='disabled'" %}
    {% else %}
    {% set disabled = "" %}
    {% endif %}
    
    <!-- Tab panes -->
    <div class="tab-content">
      <ul class="nav nav-tabs" id="tab_backup">
        <li onclick="show_this_server_type('MySQL_cluster')" class="active"><a href="#">MySQL集群</a></li>
	<li onclick="show_this_server_type('MySQL')"><a href="#">MySQL单实例</a></li>
	<li onclick="show_this_server_type('Mongo_cluster')"><a href="#">MongoDB</a></li>
      </ul>
    </div>

    <!-- Tab of MySQL_cluster and Mongo_cluster -->
    {% for backup_cluster_type in ['mha', 'mongo']%}
    {% if backup_cluster_type == 'mha' %}
    <div id="div_backup_MySQL_cluster">
      {% elif backup_cluster_type == 'mongo' %}
      <div id="div_backup_Mongo_cluster" style="display:none">
	{% endif %}
        {% for backup_type in ['nonbackup','warningbackup','goodbackup'] %}
	{% if backup_type == 'nonbackup' %}
	{% set type_color = 'red' %}
	{% elif backup_type == 'warningbackup' %}
	{% set type_color = 'blue' %}
	{% elif backup_type == 'goodbackup' %}
	{% set type_color = 'green' %}
	{% endif %}

	<br>
	<label style="color:{{ type_color }}"> {{data[backup_type]}} </label>
	<table class="table table-bordered table-hover" id={{ backup_type }}>
          <thead>
            <tr><th>集群名字</th><th>IP</th><th>版本</th><th>角色</th><th>是否备份</th><th>备份状态</th><th>添加/删除备份</th></tr>
          </thead>
          <tbody>
	    {%  if data[backup_cluster_type]  and data[backup_cluster_type][backup_type]%}
	    {%  set cluster = data[backup_cluster_type][backup_type] %}
	    {% for cluster_name in cluster %}
            {% if loop.index%2 ==0 %}
            {% set color='' %}
            {% else %}
            {% set color='' %}
            {% endif %}
	    {% for ip in cluster[cluster_name] %}
	    <tr>
	      {% if loop.index == 1 %}
	      <td style="background: {{ color }}" rowspan={{ cluster[cluster_name]|length() }} >
		<!-- <a data-toggle="modal" data-target="#modal_history_bu" data-buss="{{ cluster_name }}" data-db_type="mysql" class="btn btn-info btn-xs"/> -->
		{{ cluster_name }}
	      </td>
	      {% endif %}	      
	      <td>
		{% if ip %}
		
		{% if cluster[cluster_name][ip]['port'] %}
		{% set port = cluster[cluster_name][ip]['port'] %}
		{% else %}
		{% set port = 'noport' %}
		{% endif %}
		{% set ip_port = ip + ':' + cluster[cluster_name][ip]['port'] %}
		{% if backup_config[ip_port] %}
		<a type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal_backup_configure" data-ip="{{ ip }}" data-port="{{ cluster[cluster_name][ip]['port'] }}" data-backup_mode="{{ backup_config[ip_port]['f_bak_mode'] }}" data-backup_database="{{ backup_config[ip_port]['backup_database'] }}" data-last_bak_time="{{ backup_config[ip_port]['L_bak_time'] }}" data-end_bak_time="{{ backup_config[ip_port]['end_time'] }}" data-next_bak_time="{{ backup_config[ip_port]['N_bak_time'] }}" data-keep_bak_time="{{ backup_config[ip_port]['f_bak_keep'] }}">
		  {% endif %}
		  {{ ip }}
                </a>
		{% endif %}
	      </td>
	      <td>
		{% if cluster[cluster_name][ip]['version'] %}
		{{ cluster[cluster_name][ip]['version']}}
		{% endif %}
	      </td>
	      <td>
                {% if cluster[cluster_name][ip]['role'] %}
                {{ cluster[cluster_name][ip]['role'] }}
                {% endif %}
	      </td>
	      {% if cluster[cluster_name][ip]['backup']==0 %}
	      <td>否</td>
	      <td>{{ cluster[cluster_name][ip].status }}</td>
	      <td><a data-toggle="modal" data-target="#modal_mysql_cluster" data-ip="{{ ip }}" {{disabled}} class="btn btn-info btn-xs"/>添加备份</td>
	      {% else %}
	      <td>是</td>
	      {% if cluster[cluster_name][ip].status=='成功' %}
	      <td style="color:green">
		{% elif cluster[cluster_name][ip].status=='失败' %}
	      <td style="color:red">
                {% else %}
	      <td style="color:blue">
                {% endif %}
                {{ cluster[cluster_name][ip].status }}
	      </td>
	      <td>
                <a href="{{ url_for('del_backup',ip=ip,port=cluster[cluster_name][ip]['port'],template='backup') }}" {{disabled}} onclick="return confirm('确认删除{{ ip }}:{{ cluster[cluster_name][ip].port }}的备份吗？')" disabled class="btn btn-danger btn-xs"/>
                删除备份
	      </td>
	      {% endif %}
	    </tr>
	    {% endfor %}
	    {% endfor %}
	    {% endif %}
          </tbody>
        </table>
	{% endfor %}
      </div>
      {% endfor %}
      
      <!-- Tab of MySQL and MongoDB -->      
      {% for type in ['MySQL'] %}
      <div id="div_backup_{{type}}" style="display:none">
	<br>
	<br>
	<table class="table table-bordered table-hover" id="table{{ type }}">
	  <thead>
	    <tr>
	      <th>IP</th><th>Port</th><th>备份模式</th><th>备份状态</th><th>上次备份时间</th><th>下次备份时间</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% if backup_single_instance %}
	    {% for instance in backup_single_instance | sort(attribute='ip') %}
	    <tr>
	      <td>
		{% set ip_port = instance['ip'] + ':' + instance['port']|string %}
		{% if backup_config[ip_port] %}
		<a type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal_backup_configure" data-ip="{{ instance['ip'] }}" data-port="{{ instance['port'] }}" data-backup_mode="{{ backup_config[ip_port]['f_bak_mode'] }}" data-backup_database="{{ backup_config[ip_port]['backup_database'] }}" data-last_bak_time="{{ backup_config[ip_port]['L_bak_time'] }}" data-end_bak_time="{{ backup_config[ip_port]['end_time'] }}" data-next_bak_time="{{ backup_config[ip_port]['N_bak_time'] }}" data-keep_bak_time="{{ backup_config[ip_port]['f_bak_keep'] }}">
		  {% endif %}
		  {{ instance['ip'] }}
	      </td>
	      <td>{{ instance['port'] }}</td>
	      <td>{{ instance['f_bak_mode'] }}</td>
	      {% if instance['status']=='成功'%}
	      <td style="color:green">
		{% elif instance['status']=='失败' %}
	      <td style="color:red">
                {% else %}
	      <td style="color:blue">
                {% endif %}
                {{ instance['status'] }}
	      </td>
	      <td>{{ instance['L_bak_time'] }}</td>
	      <td>{{ instance['N_bak_time'] }}</td>
	    </tr>

	    {% endfor %}
	    {% endif %}
	  </tbody>
        </table>
      </div>
      {% endfor %}

      
    </div>
  </div>
</div>


<!-- add_backup Modal-->
<div class="modal fade" id="modal_mysql_cluster" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-lg-16">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">添加备份</h4>
      </div>
      <div class="modal-body">
        <form role="form"  action="add_backup" class="form-inline" method="POST" onsubmit="return check_input(this)">
	  <div class="modal-body">
	    <div class="form-control" style="border: None;margin-left: 50px;margin-right: 50px">
              <label for="buss" class="control-label">业务线</label>
              <select id="buss" name="buss" ></select>
            </div>
            <div class="form-control" style="border: None;margin-left: 50px;margin-right: 50px">
              <label for="type" class="control-label">数据库</label>
              <select id="type" name="type" ></select>
            </div>
            <div class="modal-body">
            </div>
	    <div class="form-control" style="border: None;margin-left: 50px;margin-right: 45px">
              <label for="IP" class="control-label">IP&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <select id="ip" name="ip" ></select>
            </div>
            <div class="form-control" style="border: None;margin-left: 35px;margin-right: 50px">
              <label for="PORT" class="control-label">Port&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <select id="port" name="port" ></select>
            </div>
	  </div>
	  <div class="modal-footer">
            <input type="hidden" name="submit" id="submit" value="submit">
	    <br/>
	    <a type="button" class="btn btn-default" data-dismiss="modal">取消</a>
	    <button type="submit" class="btn btn-success">提交</button>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>


<!-- backup_history Modal-->
<div class="modal fade" id="modal_history_bu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-lg-16">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">备份历史</h4>
      </div>
    </div>
  </div>
</div>


<!-- backup configure Modal-->
<div class="modal fade" id="modal_backup_configure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">备份参数配置</h4>
      </div>
      <div class="modal-body">
        <form action="set_backup_config" method="GET" role="form">
	  <div class="form-group">
	    <label for="ip" class="control-label">IP:Port</label>
	    <input type="text" class="x-form-text x-form-field" id="show_ip_port" name="show_ip_port" disabled>
	  </div>
	  <div class="form-group">
	    <label for="backup_mode" class="x-form-text x-form-field">备份模式</label>
	    <input type="text" class="x-form-text x-form-field" id="backup_mode" name="backup_mode" disabled>
	    <label for="backup_database" class="x-form-text x-form-field">备份数据库</label>
	    <input type="text" class="x-form-text x-form-field" id="backup_database" name="backup_database" disabled>
	  </div>
	  <div class="form-group">
	    <label for="last_bak_time" class="x-form-text x-form-field">上次备份时间</label>
	    <input type="text" class="x-form-text x-form-field" id="last_bak_time" name="last_bak_time" disabled>
	    <label for="end_bak_time" class="x-form-text x-form-field">备份结束时间</label>
	    <input type="text" class="x-form-text x-form-field" id="end_bak_time" name="end_bak_time" disabled>
	  </div>
	  <div class="form-group">
	    <label for="keep_bak_time" class="x-form-text x-form-field">备份保留天数</label>
	    <input type="text" class="x-form-text x-form-field" id="keep_bak_time" name="keep_bak_time" disabled>
	  </div>
	  <div class="form-group">
	    <label for="time" class="x-form-text x-form-field">下次备份时间</label>
	    <input id="time" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
	    <a>格式:YYYY-MM-DD HH:mm:ss</a><a id="warning" style="color: red"></a>

	    <input type="text" class="x-form-text x-form-field" id="ip" name="ip" style="visibility:hidden">
	    <input type="text" class="x-form-text x-form-field" id="port" name="port" style="visibility:hidden">
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	    <input type="submit" class="btn btn-primary" id="submit">
	  </div>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}
{% block script %}
{{ super() }}
<script>
  $(function () {
  $('#tab_backup a:first').tab('show');//初始化显示哪个tab

  $('#tab_backup a').click(function (e) {
  $(this).tab('show');//显示当前选中的链接及关联的content
  })
  })

  $('#modal_history_bu').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var buss = button.data('buss')
  var db_type = button.data('db_type')
  var url = 'backup_history?buss=' + buss + '&db_type=' + db_type
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open("GET", url, false);
  xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xmlHttp.send()
  alert('nini')
  backup_history = xmlHttp.responseText
  alert('bibi')
  backup_history = JSON.parse(backup_history)
  alert('hehe')
  })
  
  $('#modal_mysql_cluster').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var ip = button.data('ip')
  var url = 'add_backup?ip=' + ip
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open("GET", url, false);
  xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xmlHttp.send()
  inst_list = xmlHttp.responseText
  inst_list = JSON.parse(inst_list)
  var date = new Date()
  var year = date.getFullYear()
  var month = date.getMonth()
  var day = date.getDate() + 1
  if(month<10)month = '0'+month
		    if(day<10)day = '0'+day
				  var item = {'buss':'buss', 'ips':'ip', 'ports':'port', 'types':'type'}
				  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
				  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
				  for (it in item) {
				  $('#'+item[it])[0].length=0
				  for (inst in inst_list[it]){
				  inst = inst_list[it][inst]
				  $('#' + item[it])[0].add(new Option(inst, inst))
				  }
				  }
				  })


				  $('#modal_backup_configure').on('show.bs.modal', function (event) {
				  var button = $(event.relatedTarget) // Button that triggered the modal
				  var ip = button.data('ip')
				  var port = button.data('port')
				  var backup_mode = button.data('backup_mode')
				  var backup_database = button.data('backup_database')
				  var last_bak_time = button.data('last_bak_time')
				  var end_bak_time = button.data('end_bak_time')
				  var next_bak_time = button.data('next_bak_time')
				  var keep_bak_time = button.data('keep_bak_time')

				  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
				  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
				  var modal = $(this)
				  modal.find('.modal-body #ip').val(ip)
				  modal.find('.modal-body #show_ip_port').val(ip+':'+port)
				  modal.find('.modal-body #port').val(port)
				  modal.find('.modal-body #backup_mode').val(backup_mode)
				  modal.find('.modal-body #backup_database').val(backup_database)
				  modal.find('.modal-body #last_bak_time').val(last_bak_time)
				  modal.find('.modal-body #end_bak_time').val(end_bak_time)
				  modal.find('.modal-body #keep_bak_time').val(keep_bak_time)
				  modal.find('.modal-body #time').val(next_bak_time)
				  $('#submit').attr("disabled", "disabled");
				  $('#warning')[0].innerHTML = ''
				  })

				  function check(ntime) {
				  var result = ntime.match(/^(\d{4})-(\d{2})-(\d{2})\s+(\d{2})\:(\d{2})\:(\d{2})$/);
				  if (result == null) {
				  return false;
				  } else
				  return true
				  }
				  
				  $('#time').on('change', function () {
				  if (check(this.value)) {
				  $('#submit').removeAttr('disabled');
				  $('#warning')[0].innerHTML = ''
				  }
				  else {
				  $('#warning')[0].innerHTML = '日期格式错误';
				  $('#submit').attr("disabled", "disabled");
				  }
				  }
				  )



				  </script>
{% endblock %}
