{% extends 'frame.html' %}
{% import "bootstrap_form.html" as btstrp %}
{% set level1_name='monitor' %}
{% set level1_name='query_monitor' %}
{% block page_wrapper %}

<div id="monitor_lists">
  <div id="monitor_type_list">
    <div id="monitor_type">
      <h4>{{ data["today"] }}</h4>
      <form role="form"  action="{{ url_for('query_monitor') }}" class="form-inline" method="POST">

      <!-- <select id="buss" name="buss" ></select> -->
    </div>
  </div>
  {% set monitors = data["page_data"] %}
  {% set monitor_count = monitors | length %}
  {% for index in range(0,monitor_count) %}
  <div style="float:left;">
    <div id="container{{index}}" style="width:400px;height:250px"></div>
  </div>
  {% endfor %}
</div>
<input id="hc_configs" value="{{ hc_configs }}" hidden="hidden">


{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () { 
  hc_tmp = $('#hc_configs').val()
  hc_configs = JSON.parse(hc_tmp)

  for (x in hc_configs) {
  container = '#container'+x.toString()
  $(container).highcharts(
  hc_configs[x]
  );
  }
  })
  
</script>
{% endblock %}
