{% extends 'frame.html' %}
{% import "bootstrap_form.html" as btstrp %}
{% set level1_name='monitor' %}
{% set level1_name='query_monitor' %}
{% block page_wrapper %}

<div id="monitor_lists">
  <div id="monitor_type_list">
    <div id="monitor_type">
      <h4>{{ data["today"] }}</h4>

      <form action="query_monitor" id="monitor_type_form">
	<select name="monitor_type" form="monitor_type_form">
	  <option value="questions">questions</option>
	  <option value="tps">tps</option>
	  <option value="io_util">io_util</option>
	  <option value="iops">iops</option>
	  <option value="usr">usr</option>
	  <option value="sys">sys</option>
	  <option value="thds_run">thds_run</option>
	  <option value="network_out">network_out</option>
	</select> 
	<input type="submit">
      </form>
      
      &nbsp;&nbsp;时间段 
      
      &nbsp;&nbsp;&nbsp;[<a href="{{ url_for('query_monitor') }}?{{ tmp_config }}timeRange=1">1小时</a>]
      &nbsp;&nbsp;&nbsp;[<a href="{{ url_for('query_monitor') }}?{{ tmp_config }}timeRange=2">2小时</a>]
      &nbsp;&nbsp;&nbsp;[<a href="{{ url_for('query_monitor') }}?{{ tmp_config }}timeRange=6">6小时</a>]
      &nbsp;&nbsp;&nbsp;[<a href="{{ url_for('query_monitor') }}?{{ tmp_config }}timeRange=12">12小时</a>]
      &nbsp;&nbsp;&nbsp;[<a href="{{ url_for('query_monitor') }}?{{ tmp_config }}timeRange=24">24小时</a>]

      <!-- <select id="buss" name="buss" ></select> -->
    </div>
  </div>
  {% set monitors = data["page_data"] %}
  {% set monitor_count = monitors | length %}
  {% for index in range(0,monitor_count) %}
  <div style="float:left;">
    <div id="container{{index}}" style="width:400px;height:250px"></div>
  </div>
  {% endfor %}
</div>
<input id="hc_configs" value="{{ hc_configs }}" hidden="hidden">


{% endblock %}

{% block script %}
{{ super() }}
<script>
  $(function () { 
  hc_tmp = $('#hc_configs').val()
  hc_configs = JSON.parse(hc_tmp)

  for (x in hc_configs) {
  container = '#container'+x.toString()
  $(container).highcharts(
  hc_configs[x]
  );
  }
  })
  
</script>
{% endblock %}
